includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    # The level 9 is the highest level
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getChangedColumns\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::saveChange\(\)#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$attribute#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$updated_at#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$history#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$id#'
        - '#Argument of an invalid type App\\Services\\ParserManager\\DTOs\\AttributeDTO supplied for foreach, only iterables are supported#'
